body, html {
    text-align: center;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    width: 80%;
    position: relative;
}

.pure-menu {
    background-color: rgb(215, 215, 215);
}
.pure-menu a {
    color: rgb(65, 65, 65);
}
.pure-menu-heading {
    font-weight: bold;
}


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../img/dh1.jpg);
    height: 15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
}

.pure-g {
    padding: 0;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.hg-item {
    padding: 4em;
    border: 1px solid black;
}

.project-content .content-header {
    background-color: rgb(193, 255, 218);
    padding-top: 1em;
    padding-bottom: 1em;
}

.pg-item {
    padding: 2em;
    border: 1px solid rgb(203, 203, 203);
}
.pg-item img {
    height: 186px;
    width: 80%;
    padding-bottom: 0.5em;
}
.pg-item p {
    font-weight: bold;
    font-size: 0.8em;
}
